@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --light-blue: #d6e6ff;
  --dark-blue: #002772;
  --light-red: #fde2ff;
  --dark-red: #720060;
  --light-gray: #dcdcdc;
  --dark-gray: #3f3f3f;
  --black: #1e1e1e;
  --white: #ffffff;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}
